div:hover{
    border: 1px solid ;
}
div:nth-of-type(1){
    background-color: blue;
}

div:nth-of-type(2){
    background-color: crimson;
}

div:nth-of-type(3){
    background-color: mediumorchid;
    height: 50px;
}

div:nth-of-type(4){
    background-color:orange;
}

div:nth-of-type(5){
    background-color: cyan;
}


div:nth-of-type(1) h3:first-child {
    color: white;
}

div:nth-of-type(2) h3:first-child {
    color: black;
}

div:nth-of-type(3) h3:first-child {
    color: hotpink;
}

div:nth-of-type(4) h3:first-child {
    color: seagreen;
}

div:nth-child(5) h3:first-child {
    color: lawngreen;
}


div:nth-child(odd){
    font-style: italic;
}