.super-mario{
    width: 20%;
    position: absolute;
}

.goomba{
    width: 20%;
    position: absolute;
    top: 500px;
}

.bowser{
    width: 20%;
    position: absolute;
    top: 200px;
    left: 600px;
}

.baloon{
    width: 20%;
    position: ab;
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 450px;
}

.word{
    position: absolute;
    z-index: 6;
    left: 500px;
    top: 100px;
}

